#id{
	
}
.btn-style{
    background-color: #2196F3;
    padding: 11% 38px;
    border-radius: 7px;
    border: none;
    color: #fff;
    height: 37px;
    font-weight: bold;
}

.table-bg{
    background-color: #f5f2f2;
    padding: 2% 10%;
    border-radius: 4px;
    margin: 1%;
    border: 1px solid #e0dfdf;
}
.id-table{
    background-color: #f5f2f2;
    padding: 2% 17%;
    border: 1px solid #e0dfdf;
    margin: 1%;
    border-radius: 4px;
}
td input{
    padding: 10px 10px;
    border-radius: 7px;
    border: 1px solid #636363;
   
    border: 1px solid #e0dfdf;
    height: 37px;
}
